body {
  margin: 0;
  background: #fcd;
}

.background {
  width: 100%;
  height: 300px;
  background: #d96f93;
  position: relative;
  overflow:hidden;
  position: absolute;
}

.background::before{
  content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    transform: skewy(-5deg) translate(0, 75%);
    background: white;
    z-index: 1;
}

$particleSize: 50vmin;
$animationDuration: 6s;
$amount: 40;
.background span {
  width: $particleSize;
  height: $particleSize;
  border-radius: $particleSize;
  backface-visibility: hidden;
  position: absolute;
  animation-name: move;
  animation-duration: $animationDuration;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  $colors: (
    #99e4ff,
    #fdd177
  );
  @for $i from 1 through $amount {
    &:nth-child(#{$i}) {
      color: nth($colors, random(length($colors)));
      top: random(100) * 1%;
      left: random(100) * 1%;
      animation-duration: (random($animationDuration * 10) / 10) * 1s + 10s;
      animation-delay: random(($animationDuration + 10s) * 10) / 10 * -1s;
      transform-origin: (random(50) - 25) * 1vw (random(50) - 25) * 1vh;
      $blurRadius: (random() + 0.5) * $particleSize * 0.5;
      $x: if(random() > 0.5, -1, 1);
      box-shadow: ($particleSize * 2 * $x) 0 $blurRadius currentColor;
    }
  }
}

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.card{
  width: 50%;
  background: #fff;
  margin: 0 auto;
  position: relative;
}

.card .content{
  padding: 50px;
  z-index:2;
  position: relative;
}