body{
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 50px;
  padding: 30px 15px;
}

.card{
  height: 150px;
  border-radius: 5px;
  padding: 15px;
  position: relative;
}

.card::before{
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background: inherit;
  transform: translateY(15%) scale(0.85);
  filter: blur(30px);
}

.card:nth-child(1){
  background: linear-gradient(to bottom right, #66f3ad, #69f0ea);
  backdrop-filter: blur(5px);
}

.card:nth-child(2){
  background: linear-gradient(to bottom right, #66e0e0, #b58ef3);
}

.card:nth-child(3){
  background: linear-gradient(to bottom right, #f5cf79, #ee7fb1);
}